

<footer>
  <p>
    <a routerLink="/" href="/" routerLinkActive="active">Home</a>
    <a routerLink="/about" href="/about" routerLinkActive="active">About</a>
    <a routerLink="/media" href="/media" routerLinkActive="active">Media</a>
    <a routerLink="/ministries" href="/ministries"  routerLinkActive="active">Ministries</a>
    <a routerLink="/careers" href="/career" routerLinkActive="active">Careers</a>
    <a routerLink="/give" href="/donate"  routerLinkActive="active">Give</a>
    <a routerLink="/visit" href="/contact" routerLinkActive="active">Contact</a>
  </p>  
  <p>
    <a href="https://www.facebook.com/seedoflifeapstolicpropheticministriesintl/">Facebook</a> |
    <a href="#">Instagram</a> |
    <a href="#">Twitter</a> |
    <a href="https://www.youtube.com/@pastortriveni">YouTube</a>
  </p>
  <p>© 2025 Seed of Life Trust</p>
</footer>
<!-- <footer class="footer">
  <div class="container">
    <p class="mb-1">📞 Call: +91 7981239678</p>
    <div class="social-icons">
      <a href="https://www.facebook.com/seedoflifeapstolicpropheticministriesintl/" target="_blank" class="icon facebook" aria-label="Facebook">Facebook</a>
      <a href="https://www.twitter.com" target="_blank" class="icon twitter" aria-label="Twitter">Twitter</a>
      <a href="https://www.linkedin.com" target="_blank" class="icon linkedin" aria-label="LinkedIn">LinkedIn</a>
      <a href="https://www.instagram.com" target="_blank" class="icon instagram" aria-label="Instagram">Instagram</a>
      <a href="https://www.youtube.com/@pastortriveni" target="_blank" class="icon youtube" aria-label="YouTube">YouTube</a>
    </div>
    <p class="mt-3 mb-0">&copy; 2025 Seed Of Life Ministries. All Rights Reserved.</p>
  </div>  
</footer> -->