/* Footer */
footer {
  background: #24272d;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

footer a {
  color: #ffffffaa;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  header nav {
    margin-top: 10px;
  }
}


