<section class="sermons-container">
  <h2>Words of Wisdom</h2>

  <div class="video-player">
    <iframe
      [src]="trustedUrls[activeIndex]"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen>
    </iframe>
  </div>

  <div class="dots-container">
    <span
      *ngFor="let video of videos; let i = index"
      [class.active]="i === activeIndex"
      (click)="goToVideo(i)">
    </span>
  </div>

  <p class="video-title">{{ videos[activeIndex].title }}</p>
</section>
