<!-- Header -->
<header>
  <div class="logo">Seed Of Life Ministries</div>

  <!-- Hamburger icon for mobile -->
  <input type="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="menu-icon">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav>
    <a routerLink="/" href="/" routerLinkActive="active">Home</a>
    <a routerLink="/about" href="/about" routerLinkActive="active">About</a>
    <a routerLink="/media" href="/media" routerLinkActive="active">Media</a>
    <a routerLink="/ministries" href="/ministries"  routerLinkActive="active">Ministries</a>
    <a routerLink="/careers" href="/career" routerLinkActive="active">Careers</a>
    <a routerLink="/give" href="/donate"  routerLinkActive="active">Give</a>
    <a routerLink="/visit" href="/contact" routerLinkActive="active">Contact</a>
    <!-- <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/media" routerLinkActive="active">Media</a>
    <a routerLink="/ministries" routerLinkActive="active">Ministries</a>
    <a routerLink="/careers" routerLinkActive="active">Careers</a>
    <a routerLink="/give" routerLinkActive="active">Give</a>
    <a routerLink="/visit" routerLinkActive="active">Contact</a> -->
  </nav>
</header>
